body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #212121;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}
p{
    color: fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    margin: 20px;
}

/* Logo Styles */
.top {
    display: flex;
    justify-content: center;
  }
  
  .logo-wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

.input{
    width:250px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 1.1em;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px 40px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }

form{
    display: flex;
    justify-content: center;
    color:#212029
  }
.input:hover {
    background-color: white;
    color: #000;
}
  

.btn {
    width:200px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 1.1em;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px 40px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.btn:hover {
    background-color: white;
    color: #000;
    cursor: pointer;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    border-style: groove;
    border-color: transparent;
    margin: 50px 100px;
    float: left;
}
.info-img img{
    width: 80%;
    padding: 50px;
}
.info-text {
    padding: 50px;
    font-size: 25px;
    color: white;
}

.info-text > tr:first-of-type {
    font-size: 30px;
    font-weight: bold;
}
